@tailwind base;
@tailwind components;
@tailwind utilities;


.rounded-curl {
    border-radius: 5px;
}

.oven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/oven.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.minted {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/fragrance.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vert {
    background-image: url(../img/blue-trans.svg), url(../img/added-trans.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.verti {
    background-image: url(../img/blue-trans.svg), url(../img/cart.svg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.rounded-curller {
    border-radius: 7%;
}

.mixed {
    background: url(../img/drugs.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mx-14 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.w-70 {
    width: 45%;
}

.w-65 {
    width: 40%;
}

.w-5 {
    width: 10rem;
}

.border-b-1 {
    border-bottom-width: 1px;
}
.w-10{
    width: 50px;
}
.check{
    background:linear-gradient(#ce9014, #b57e10);
}
.active-blue{
    border-bottom: 3px rgb(0, 136, 247) solid;
}
.shrink{
    font-size: 10px;
}

.init2 {
    background-size: 15em 19em;
    background-position: 50%;
    background: url(../img/card.png) no-repeat;
}

.init3 {
    background: url(../img/card2.png) no-repeat;
    background-position: 100%;
    background-size: 15em 19em;
}

.init1 {
    background: url(../img/card3.png) no-repeat;
    background-size: 15em 19em;
    background-position: 50%;
}

.rounded-cur {
    border-radius: 1.90%;
}

.w-75 {
    width: 50%;
}
.text-tiny{
    font-size: .5rem;
    line-height: .9rem;
}

.h-30 {
    height: 5rem;
}

.h-35 {
    height: 8rem;
}

.h-120 {
    height: 25rem;
}

.h-96 {
    height: 10rem;
}

.border-1 {
    border-width: 1px;
}

.bg-none {
    background: none;
}

.Gotham-Bold {
    font-family: "Gotham-Bold";
}

.Gotham-Light {
    font-family: "Gotham-Light";
}
.bg-img{
    background:url(../img/back.svg) no-repeat;
    background-size: cover;
}
.modale {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: visible;
    overflow-y: 2;
    background : rgba(248, 248, 248, 0.5)  ;
    
  }
  
  .modale-content {
    font-family: "GothamRounded-Book";
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 15px;
    font-size: 0.6rem;
  }
@font-face {
    font-family: "Gotham-Bold";
    src: url(../fonts/GothamRounded-Bold.otf);
}

@font-face {
    font-family: "Gotham-Light";
    src: url(../fonts/GothamRounded-Book.otf);
}
@media (min-width: 768px) {
    .md\:w-60 {
        width: 15rem;
    }

    .md\:w-45 {
        width: 12rem;
    }

    .md\:w-70 {
        width: 40%;
    }

    .md\:h-30 {
        height: 5rem;
    }

    .md\:h-35 {
        height: 8rem;
    }

    .md\:w-75 {
        width: 80%;
    }
    .md\:w-03 {
        width: 35%;
    }
}